body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 55px;
    width: 250px;
}
.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}
.flash-messages {
    color: #ff0000;
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
}
.login-container label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}
.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: rgb(244, 164, 96);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.login-form-container {
width: 100%;
}
.login-container button:hover {
    background-color: rgb(224, 144, 76);
}
.login-container .error {
    color: #ff0000;
    font-size: 14px;
}