<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/style.css">
    <script src="https://cdn.socket.io/4.6.1/socket.io.min.js" defer></script>
    <script src="../static/script.js" defer></script>
    <title>Beekeepers</title>
</head>
<body>
    <header id="cs-nav">
        <nav>
            <h1 class="cs-header">Beekeepers</h1>
            <ul>
                <li><a href="http://10.0.97.136:9090/graph?g0.expr=&g0.tab=1&g0.stacked=0&g0.show_exemplars=0&g0.range_input=1h" target="_blank">Prometheus</a></li>
                <li><a href="{{ url_for('grafana') }}" target="_blank">Packet Sniffer</a></li>
                <li><a href="http://10.0.97.136:30001/app/home#/" target="_blank">Elastic</a></li>
            </ul>
        </nav>
        <a href="{{ url_for('create') }}"><button class="admin-button">Admin</button></a>
    </header>

    <div class="background-container">
        <img id="background" src="/static/Honey comb.jpg" alt="Honeycomb Background">
    </div>

    <div class="grid-container">
        <div class="honeypot-item">
            <button class="honeypot-button" onclick="changeLogURL('cowrie')">Cowrie</button>
        </div>
        <div class="honeypot-item">
            <button class="honeypot-button" onclick="changeLogURL('pfpot')">pfPot</button>
        </div>
    </div>

    <div class="hexagon-container" id="metrics-container">
        <!-- Hexagonal Metric Items will be injected here by JS -->
    </div>
</body>
</html>

