<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Beekeepers</title>
</head>
<body>
    <header id="cs-nav">
        <nav>
            <h1 class="cs-header">Beekeepers</h1> <!-- Beekeepers text added here -->
            <ul>
                <li><a href="{{url_for('incoming_traffic')}}" target="_blank">Incoming Traffic</a></li>
                <li><a href="" target="_blank">Logs</a></li>
                <li><a href="{{url_for('grafana')}}" target="_blank">Grafana</a></li>
                <li><a href="{{url_for('alerts')}}" target="_blank">Alerts</a></li>
            </ul>
        </nav>
    </header>

    <!-- Background image section -->
    <div class="background-container">
        <img id="background" src="/static/Honey comb.jpg" alt="Honeycomb Background">
    </div>

    <!-- Grid Layout for Honeypot Logs -->
    <div class="grid-container">
        <div class="honeypot-item">
            <button class="honeypot-button" onclick="changeLogURL('cowrie')">Cowrie</button>
        </div>
        <div class="honeypot-item">
            <button class="honeypot-button" onclick="changeLogURL('pfpot')">pfPot</button>
        </div>
        
 
    </div>
    <script>
        function changeLogURL(honeypot) {
            window.location.href = `/logs/${honeypot}`
        }
    </script>

</body>
</html>

