<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles/createuser.css">
    <script src="../static/authentication.js" defer></script>
    <title>Create an Account</title>
</head>
<body>
    <div class="form-container">
        <h2>Create an Account</h2>
        <div id="errorMessage" class="error-message">Passwords do not match. Please try again.</div>
        <form id="signupForm" action="/homepage" method="get">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            
            <label for="confirm_password">Confirm Password</label>
            <input type="password" id="confirm_password" name="confirm_password" required>
            
            <button type="submit">Sign Up</button>
        </form>
    </div>
</body>
</html>
