<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Logs</title>
</head>
<body>

    <div class="header-container">
        <div class="back-box">
            <button class="button back-button" onclick="goBack()">Go Back</button>
            <button class="button refresh-button" onclick="refreshPage()">Refresh</button>
        </div>
        <h1 class="title">{{ honeypot.capitalize() }} Logs</h1></h1>
    </div>    

    <div class="log-container">
        <table>
            <thead>
                <tr>
                    {% for header in headers %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr>
                        {% for header in headers %}
                            <td>{{ log[header] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="footer">
        <p>&copy; 2024 Beekeepers Logs | All rights reserved to CJ.</p>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    
        function refreshPage() {
            location.reload(); // Reload the current page
        }
    </script>    

</body>
</html>
